body {
  color: #444;
  font: 100% "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  text-align: center;
  background: #fff;
}
a {
  color: #3599db;
  text-decoration: none;
  padding-bottom: 20px;
}
h1 {
  font-weight: bold;
  margin: 0 auto;
}
header h1,
header p {
  color: #ff7882;
  line-height: 1.4;
  text-shadow: 0px 1px 0px #444;
}
header p {
  margin: 0 auto;
  font-size: 20px;
}
#flashcard {
  background: #ff4553;
  width: 20em;
  height: 20em;
  border-radius: 4px;
  margin: 1.2em auto;
  display: table;
}
#flashcard h2 {
  color: #fff;
  display: table-cell;
  vertical-align: middle;
}
[type="button"] {
  color: #3599db;
  border: 1px solid #3599db;
  background: none;
  padding: 10px 15px;
  text-transform: uppercase;
  letter-spacing: 1.3;
  transition: all 0.3s ease-out;
}
[type="button"]:hover {
  color: #fff;
  background: #3599db;
}
footer p {
  color: #646464;
}
