// Modules and Variables
@import "partials/base";

// Partials
@import "partials/typography";
@import "partials/buttons";

body {
  color: $color-black;
  font: 100% $font-primary-stack;
  text-align: center;
  background: $color-white;
}
a {
  color: $color-blue;
  text-decoration: none;
  padding-bottom: 20px;
}
h1 {
  font-weight: $headings-font-weight;
  margin: 0 auto;
}
header {
  h1, p {
    color: lighten($color-red, 10%);
    line-height: $font-line-height;
    text-shadow: 0px 1px 0px $color-black;
  }
  p {
    margin: 0 auto;
    font-size: 20px;
  }
}
#flashcard {
  background: $color-red;
  width: 20em;
  height: 20em;
  border-radius: $border-radius;
  margin: 1.2em auto;
  display: table;
  h2 {
    color: $color-white;
    display: table-cell;
    vertical-align: middle;
	transition: all 0.3s ease-out;
  }
}
[type="button"] {
  @include button();
}
[type="button"]:hover {
  color: $color-white;
  background: $color-blue;
}
footer p {
  color: $color-darkgray;
}