// Modules and Variables
@import "partials/base";

// Partials
@import "partials/typography";

body {
  color: $color-black;
  font: 100% $font-primary-stack;
  text-align: center;
}
h1 {
  font-weight: $headings-font-weight;
  margin: 0 auto;
}
header {
  h1, p {
    color: $color-primary;
    line-height: $font-line-height;
  }
  p {
    margin: 0 auto;
  }
}
